.left, .right
{
    width: 50%;
}

.right
{
    border-left: 2px solid rgba(0, 0, 0, 0.5);
}

.left .delete
{
    text-decoration: none;
    min-width: 250px;
    margin-left: 35px;
    color: white;
    text-shadow: 1px 1px 0 black;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 25px;
}

.h_infa ul > div
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.left .dalee
{
    margin-top: 0%;
    margin-left: 0%;
    width: 60px;
    margin-right: 25px;
}


.zakaz
{
    width: 100%;
    padding: 25px 15px;
    margin-bottom: 15px;
    background-color: #ffeed475;
}

.zakaz h1
{
    padding-bottom: 30px;
    text-align: center;
}

.zakazat
{
    margin: 0 auto;
    min-width: 280px;
    padding: 20px 125px;
    transition: 0.3s all;
    transform: scale(1);
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF4747;
    margin-top: 50px;
    display: block;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width: 1400px)
{
    .left, .right
    {
        width: 100%;
    }
    .infa
    {
        width: 96%;
    }
}

@media screen and (max-width: 768px)
{
    .infa
    {
        width: 90%;
    }
}